.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/musicosjuan.appspot.com/o/Banner.jpg?alt=media&token=1c5d115e-adae-4090-9cfd-603d93b2d08b");
    background-position: top center;
    background-size: cover;
    padding:25%;
    background-attachment: fixed;
}

.banner2{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/musicosjuan.appspot.com/o/link4.jpg?alt=media&token=cfa8aecb-9d32-4b10-8267-5eb0934b5cfd");
    background-position: top center;
    background-size: cover;
    padding:25%;
    background-attachment: fixed;
}